
header

html, body {
    margin: 0;
    padding: 0;
    font-family: arial;
}
* {
    box-sizing: border-box;
}
a { 
    color:#ee6123;
    font-weight: bold;
    text-decoration: none;
}
header {
    padding: 30px;
}
footer {
    text-align: center;
    padding: 30px;
    font-size:0.9em;
}
header #logo {
    height: 50px;
}
footer #logo {
    height: 35px;
} 
h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.9em;
    margin-bottom: 10px;
}
h2 {
    color: white;
    text-align: center;
    font-weight: 500;
}
h3 {
    margin: 0;
    color: #ee6123;
    text-transform: uppercase;
    padding-bottom: 30px;
}
input[type="url"] {
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    padding: 17px 30px;
    border: none;
    width: 50%;
    font-size: 1.3em;

}
input[type="submit"] {
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    padding: 17px 30px;
    border: none;
    background-color: #ee6123;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;

}

#logo {
   height: 30px;
}
#hello {
    background-image: url('../pictures/hello.jpg');
    background-size: cover;
    height: 500px;
}
#hello form {
    text-align: center;
    margin-top: 30px;

}
#result {
    color: white;
    padding: 30px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
}
#brands {
    background: #eff7fc;
    padding: 30px;
    text-align: center;
}

.container {
    margin: 0 auto;
    /* height: 1000px; */
    width: 1100px;
}
.pictures {
    height: 35px;
    margin: 15px;
}
.center {
    text-align: center;
}